@import "components/alert";
@import "components/navbar";
@import "components/searchbar";
@import "components/businesslist";

body{
	font-family: 'Arimo', sans-serif;
}
.main{
	padding-left: 0;
	padding-right: 0;
}
