@import "components/alert";
@import "components/navbar";
@import "components/searchbar";
@import "components/indexpage";
@import "components/searchpage";
@import "components/spotslist";
@import "components/mapcontainer";
@import "components/footer";
@import "components/loader";
@import "components/spot_on_map";
@import "components/display_selector";
@import "components/pagination";
@import "components/signin-signup";
@import "components/main";


body{
	font-family: 'Arimo', sans-serif;
	padding-bottom: 60px;
	background-color: #f7f7f7;		
}

a{
	color:#ff5a5f;    
}

.no-padding{
	padding: 0;
}

.btn-custom-danger {
    color:#fff!important;
    background-color:#ff5a5f;    
}

.btn-custom-danger:hover {    
    background-color: #FF8689!important;
}

h1, h2, h3{
	font-weight: normal;
}